*{
    box-sizing: border-box;
    margin: 0%;
}
.body{
    background-position: center;
    width: 100%;
    height: 100vh;
    display: block;
    background: #141414;
    
}
header{
    z-index: 10;
    position: fixed;
    width: 100%;
    transition: 1.2s;
}
.Activo{
    background: rgb(20, 20, 20);
}
#Logo{
    cursor: pointer;
    margin: 0 40%  ;
    height: 1.3em;
}

#navbarNav{
    margin-left:4.5% ;
}
.fa-magnifying-glass,.fa-bell{
    font-size: 1.5em;
}

#avatar{
    height: 2em;
    border-radius: 4px;
}

.drop{
    margin-right:50%;
}
.show{
    background: #141414;
    margin-top: 1%;
}
/* Dependiendo de imagen de fondo */

#hamburgesa{
    border: solid #141414;
}

.zona{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(resurses/frist.jpg);
    background-size: cover;
    background-position: center center;
}
.zona1{
    background: #141414;
    color: aliceblue;
}

.texto{
    margin-left: 5%;
}

#Title{
    width: 30%;
}

.pelicula{
    font-size: 1.3rem;
}

#logo-title{
    height: 6vh;
    padding-right: 1% ;
}
.sinopsis,.btns{
    width: 55%;
}

.fa-play{
    font-size: 1.2rem;
    margin-left: .4em;
}
.reproducir{
    border:none;
}
#info{
    background:rgba(109, 109, 110, 0.7);
    color: aliceblue;
}
#info:hover{
    background:rgba(72, 72, 73, 0.7);

}
.reproducir:hover{
    background: rgb(194, 198, 201);
}

.cartelera{
    width: 97%;
}
.card{
    width: 99%;
    background: transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;
  }
  
  .card:hover img {
    transform: scale(1.2);
  }
  
  .card:hover .card-content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fa-circle-play,.fa-circle-plus,.fa-thumbs-up,.fa-circle-chevron-down{
    font-size: 1.5rem;
  }
  .descripcion{
    font-size: .70rem;
  }
  .durarion{
    font-size: 1rem;
  }

footer {
    font-size: .90rem;
    color: gray;
}

footer a {
    color: aliceblue;
    font-size: 1.5rem;
}
.code{
    border: none;
    background: rgb(20, 20, 20);
    color: gray;
    border: solid white 2px;
}

.code:hover{
    color: aliceblue;
}
@media (max-width: 900px) {
    .sinopsis,.btns{
        width: 100%;
    }
}


/* Carrusel */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}



/* Fin */